.products-box {
    display: flex;
    gap: 20px;
}
.products-box .products-left{
width: 20%;



}
.products-box .products-left .product-title h5{
font-size: 24px;
position: relative;
padding: 0 20px;
}
.products-box .products-left .product-title p{
font-size: 20px;
position: relative;
padding: 0 20px;


}
/* .products-box .products-left .product-title p:not(:first-child){
    margin-top: 20px;
} */
.products-left__box{
    position: relative;
    margin-bottom: 8px;
}
.products-left__box::after,
.products-box .products-left .product-title p::after,
.products-box .products-left .product-title h5::after{
content: '';
position: absolute;
bottom: -5px;
left: 0;
display: inline-block;
width: 100%;
height: 2px;
background-color: black;

}
.products-left__item a{
    padding: 0 20px;
    font-size: 17px;
    color: black;
}
.products-right{
    width: 80%;
    /* border:1px solid black; */
/* height: 300px; */

}
.products-box .products-right .products-title{
width: 100%;
height: 40px;
border: 1px solid black;
display: flex;
padding: 0 10px;
/* margin-top: 7px; */
align-items: center;
}
.products-box .products-right .products-title h5{
    margin-top: 7px;
}