*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f9fe;
}
.container{
  max-width: 1450px;
  /* margin: 0 auto; */
}
.header-box-one{
  border: 1px solid black;
  width: 100%;
  height: 25px;
  background-color: black;
  
}
.header-box-one .row{
  line-height: 25px;
  font-size: 15px;
  color: white;
}
.header-box-one .col-3 a{
  text-decoration: none;
  color: white;
  /* font-weight: 600; */
  font-size: 15px;
}
.header-box-two{
border: 1px solid black;
width: 100%;
height: 50px;
background-color: white;
}
.header-box-two .logo{
  text-decoration: none;
  color: black;
  font-size:26px ;
}
.header-box-two form{
  width: 75%;
  height: 35px;
  border: 1px solid black;
}
.header-box-two form input{
  height: 33px;
  width: 90%;
  border: none;
  padding: 0 10px;
}
.header-box-two form button{
  width: 9%;
  height: 33px;
 border: none;
 background-color:#001F5D;
  color: white;

}
li{
  list-style-type: none;
}
a{
  text-decoration: none;

}
.header-box-two .icons a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  
}
.header-box-two .iconCart{
  position: relative;
}
.header-box-two .iconCart .numberCart{
  position: absolute;
  bottom: 11px;
  left: 12px;
  z-index: 10;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #001F5D;
  color: white;
  text-align: center;
  line-height: 20px;
}
.header-box-three{
  /* border: 1px solid black; */
  background-color: #001F5D;
  width: 100%;
  height: 35px;

}
.header-box-three nav li a{
  color: white;
  font-size: 20px;
  line-height: 30px;
}
.banner{
  width: 100%;
  /* height: 700px; */
  /* background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center; */
  background-color: black;
}
/*  */
.box .box-item{
  /* border: 1px solid black; */
  line-height: 100%;
  /* padding: 10px 0 0; */
  width: 24.5%;
   background-color: white;
    padding-top: 5px;
}
.box .box-item i{
  font-size: 25px;
  color: #001F5D;
  line-height: 40px;

}
.box_circle {
  width: 40px;
  height: 40px;
  border: 1px solid #001F5D;
  /* margin-bottom: 10px; */
  text-align: center;
  border-radius: 50%;
}
.sp-hot{
  background-color: #001F5D;
  padding: 1rem;
 
}
.box .box-item .text-box h4{
    font-size: 18px;
    /* line-height: 0; */
    margin-bottom: 0;
    margin-top: 10px;
    color: #001F5D;
}

.title{
  width: 100%;
  height: 35px;
  /* border: 1px solid black;   */
  background-color: white;
  padding: 0 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title p{
  font-size: 20px;
  line-height: 30px;

}
.title a{
  line-height: 30px;
}
.card a{
  color: black;
}
.card .card-body{
  text-align: center;
}
.card h4{
font-size: 18px;
}
.card p{
  font-size: 17px;
  color: red;
}
.banner-item{
  width: 100%;
  background-color: black;
 
} 
.card .btn-primary{
background-color:white ;
border: 1px solid #001F5D;
color: #001F5D;
}
.card .btn-primary:hover{
background-color:#001F5D ;
border: 1px solid #001F5D;
color: white;
}

.card .card-body h4{
  margin-bottom: .2rem;
}
.card .card-body p{
  margin-bottom: 0.4rem;
}
.service-item{
  width: 100%;
  height: 380px;
  /* border: 1px solid black; */
  background-color: white;
  text-align: center;
  padding: 4px 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.service-item__top .service-img{
  width: 100px;
  height: 100px;
  margin-bottom: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-item__top .service-img img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.service-item__top{
  margin-top:25px;
}
.service-item__top h3{
  font-size: 18px;
  margin-top: 5px;
}
.footer-top{
  background-color: #001F5D;
  width: 100%;
  height: 250px;
}

.footer-item{
  color: white;
padding: 2rem 0;
width: 25%;
}
.footer-item h3{
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
}
.footer-item h3::after{
  content:'';
  width: 80px;
  height: 3px;
  position: absolute;
  bottom: -9px;
  left: 0;
  display: inline-block;
  border: 1px solid white;
  background-color: white;
}
.footer-item a{
  color: white;
  display: block;
  font-size: 17px;
}
.footer-item form{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}
.footer-item form input{
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 10px;
}
.footer-item form button{
  width: 21%;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
}
.footer-bottom>div{
  height: 35px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* giảm giá */

.section_coupons{
  padding: 0;
}
.coupon_item{
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 1px 5px;
  padding: 10px 20px;
  position: relative;
}
.coupon_item .coupon_body {


}
.tron_container {
  position: absolute;
  top: 4px;
  left: -5px;
}
.tron {
  border-radius: 999px;
  background: white;
  border: 1px solid white;
  width: 25px;
  height: 20px;
  margin-bottom: 0.7px;
  z-index: 11;
}
.tron_container1 {
  position: absolute;
  top: 4px;
  right: -5px;
}
.tron1 {
  border-radius: 999px;
  background: white;
  border: 1px solid white;
  width: 25px;
  height: 20px;
  margin-bottom: 0.7px;
  z-index: 11;
}

.coupon_item .coupon_body .coupon_title {
  font-size: 18px;
  color:#001F5D;
  font-weight: 600;
  margin-bottom: 0px;
}
.coupon_desc{
  color: #001F5D;
}
.coupon_h1{
  margin-bottom: 0;font-size: 30px;color: #001F5D;font-weight: 900;
}
.coupon_vnd{
  margin-bottom: 0;color: #001F5D;font-weight: 600;font-size: 20px;
}
.coupon_footer{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coupon_ma{
  font-size: 16px;font-weight: 500;color: #001F5D;
}
.box-noiveCT{
  height: 420px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}